/* GENERAL */
html, body {
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Montserrat', sans-serif;
    color: #707070;
    text-align: center;
}
/* HEADER */
header {
    background-color: #f5e2e3;
    width : 100%;
    height : 100px;
    
}
header h1 {
    padding-top: 20px;
    }

/* CONTAINER */
#content
{
   
}
#presentation {
    display: flex;
}
#puzzle {
    width : 200px;
    height : auto;
}
#explanation{
    width : 200px;
}
.myButton {
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background: linear-gradient(to bottom, #f5e2e3 5%, #f5e2e3 100%);
    background-color: #f5e2e3;
    border-radius: 5px;
    border: 1px solid #566963;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 1px -1px 1px #2b665e;
}

    .myButton:hover {
        background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
        background-color: #707070;
    }


/* FOOTER */
footer {
    background-color: #f5e2e3;
    width: 100%;
    height: 50px;
}

